.navigation {
    display: none;
    flex-direction: column;

    @include mq("tablet", min){
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }

    .current {
        color: green;
    }

    a {
        margin: 0px 0.5em;
        color: black;
        display: block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .site-header {
    .navigation {
        display: flex;
        z-index: 1000;
    }
}

